{erl_opts, [{i, "src"},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import,
            inline]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{cover_enabled, true}.
{eunit_tests, [{dir, "src"},
               {dir, "test"}]}.
{eunit_opts, [no_tty,
              {report, {eunit_progress, [colored, profile]}}]}.

{deps, [{cowboy,
         ".*", {git, "git://github.com/ninenines/cowboy", "b7d666cfc746f55b0a72ef8d37f703885099daf7"}}
       ]}.

{relx, [{release, {'sand', "0.1.0"},
         ['sand',
          cowboy,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, false},

        {include_src, false},
        {generate_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {extended_start_script, true},
                            {include_erts, true}]}]},
            {test, [{deps,
                     [{gun,
                       ".*", {git, "git://github.com/ninenines/gun", "d88f3675dba9e066ef339789d8c223358f744aac"}},
                      {eunit_formatters,
                       ".*", {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}]}]}
           ]
}.
